.title
{
	background-color: blue;
}

.croissant
{
	background-color: orange;
}

.album
{
	background-color: red;
}

.video
{
	background-color: yellow;
}

.download
{
	background-color: green;
}

.footer
{
	background-color: purple;
}

.footer ul li {
	float: left;
	width: 10%;
	text-align: center;
	list-style: none;
}