* {
	margin: 0;
	padding: 0;
	font-size: 80px;
}
body {
	background-color: black;
		font-family: sans-serif;
	color: gold;
	overflow: hidden;
	text-shadow: 3px 3px 3px tomato;
}
#header {
	height: 20vh;
	text-align: center;
}
#groupName {
	position: absolute;
	top: calc(5vh - 45px);
	width: 100%;
	text-align: center;
}

.coverflow {
	width: 100%;
	padding: 5vh;
	height: 10vh;
	text-align: center;
}
.coverflow li {
	list-style: none;
	display: inline;
}
.coverflow img {
	height: 10vh;
	box-shadow: 10px 10px 20px tomato;
}

#trackTitle {
	position: absolute;
	top:50%;
	width: 100%;

	text-align: center;
	pointer-events:none;
}

#overlay {

		pointer-events:none;
	position: absolute;
	top: 20vh;
	left: 20vw;
	height: 60vh;
	width: 60vw;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#videos {
	height: 80vh;
	width: 100vw;
	clear: both;
}
.video {
	float: left;
	width: 50%;
	height: 100%;
	background: black;
}
.video .player{
	width: 100%;
	height: 100%;
}

.credits {
	position: relative;
	top: -120px;
	text-align: center;
	width: 50vw;
	font-weight: bold;

	pointer-events:none;
}

